<!DOCTYPE html>
<html>
	<head>
		<link href="{{url_for('static', filename='kingpin_homepage.css')}}"  type="text/css" rel="stylesheet"/>
		<script src="{{url_for('static', filename='kingpin_homepage.js')}}" type="text/javascript"></script>
		<link rel = "icon" href = "{{url_for('static', filename='crown.jpg')}}" type = "image/png" sizes = "32x32">
		<title>King Pin Homepage</title>
		<meta charset = "utf-8"/>
		
	</head>
	<body>
		<header>
			<h1 id="homepage_title"> King Pin </h1>
		</header>
		<nav id="nav_container">
			<a class="nav_buttons" href="KingPin.html">Home</a> <!--This is a button that brings you back home-->
			<a class="nav_buttons" href="kingpin_stats.html"> <strong>Statistics</strong></a><!--Button that goes to the Stats page-->
			<a class="nav_buttons" href="kingpin_entry.html"> <strong>Entries</strong></a><!--Button that goes to the Entries page-->
			<a class="nav_buttons" href="kingpin_login.html"> <strong>Login</strong></a><!--This is a button that brings you to the login-->
			<a class="nav_buttons" href="kingpin_newAcct.html"> <strong>Create Account</strong></a><!--Button that transfers you over to create Account-->
		</nav>
		<!--Welcome message-->
		<p>Welcome to King Pin! If you dont have an account please click Create Account on the header above. If you're an existing user
		please click Login. Once your account is setup you can enter in your bowling data and and track your progression!</p>
		
	</body>
</html>
