<!DOCTYPE html>
<html>
	<head>
		<link href="kingpin_entry.css"  type="text/css" rel="stylesheet"/>
		<script src="kingpin_entry.js" type="text/javascript"></script>
		<link rel = "icon" href = "crown.jpg" type = "image/png" sizes = "32x32">
		<title>King Pin Entry</title>
		<meta charset = "utf-8"/>
		
	</head>
	<body>
		<header>
			<h1 id="homepage_title"> King Pin </h1>
		</header>
		<nav id="nav_container">
			<a class="nav_buttons" href="KingPin.html">Home</a>
			<a class="nav_buttons" href="KingPin_learn.html">How To</a>
			<a class="nav_buttons" href="kingpin_stats.html"> <strong>Statistics</strong></a>
			<a class="nav_buttons" href="kingpin_entry.html"> <strong>Entries</strong></a>
			<a class="nav_buttons" href="kingpin_login.html"> <strong>Login</strong></a>
			<a class="nav_buttons" href="kingpin_newAcct.html"> <strong>Create Account</strong></a>
		</nav>
		<main>
			<p>Here is where the user will enter their data to place in database as a new entry</p>
			<!-- Not sure if this is correct but here is what i have been working on -CD
Also each inout type is named weirdly bc first number represents the frame and second represents throw number-->
			<form action="kingping_entry.php" method="post">
			Frame 1: <input type="text11" name="frame11"> 
			<input type="text12" name="frame12"><br>

			Frame 2: <input type="text21" name="frame21">
			<input type="text22" name="frame22"><br>

			Frame 3: <input type="text31" name="frame31">
			<input type="text32" name="frame32"><br>

			Frame 4: <input type="text41" name="frame41">
			<input type="text42" name="frame42"><br>

			Frame 5: <input type="text51" name="frame51">
			<input type="text52" name="frame52"><br>

			Frame 6: <input type="text61" name="frame61">
			<input type="text62" name="frame62"><br>

			Frame 7: <input type="text71" name="frame71">
			<input type="text72" name="frame72"><br>

			Frame 8: <input type="text81" name="frame81">
			<input type="text82" name="frame82"><br>

			Frame 9: <input type="text91" name="frame91">
			<input type="text92" name="frame92"><br>

			Frame 10: <input type="text101" name="frame101">
			<input type="text102" name="frame102">
				<input type="text103" name="frame103"><br>

			
				
			</div>
    				<button type="submit">Enter</button>
   				</div>

				

			<div id = "entry_background">
				<table>
					<td><input type = "search" id = "search_box" placeholder="Search for a name"></td>
					<td><button type = "button" id = "search_btn">Search</button></td>
				</table>
				
			</div>
		</main>
				
	</body>
</html>
