<!DOCTYPE html>
<html>
	<head>
		<link href="{{url_for('static', filename='kingpin_homepage.css')}}"  type="text/css" rel="stylesheet"/>
		<script src="{{url_for('static', filename='kingpin_homepage.js')}}" type="text/javascript"></script>
		<link rel = "icon" href = "{{url_for('static', filename='crown.jpg')}}" type = "image/png" sizes = "32x32">
		<title>King Pin Homepage</title>
		<meta charset = "utf-8"/>
		
	</head>
	<body>
		<header>
			<h1 id="homepage_title"> King Pin </h1>
		</header>
		<nav id="nav_container">
			<a class="nav_buttons" href="KingPin.html">Home</a> <!--This is a button that brings you back home-->
			<a class="nav_buttons" href="kingpin_stats.html"> <strong>Statistics</strong></a><!--Button that goes to the Stats page-->
			<a class="nav_buttons" href="kingpin_entry.html"> <strong>Entries</strong></a><!--Button that goes to the Entries page-->
			<a class="nav_buttons" href="kingpin_login.html"> <strong>Login</strong></a><!--This is a button that brings you to the login-->
			<a class="nav_buttons" href="kingpin_newAcct.html"> <strong>Create Account</strong></a><!--Button that transfers you over to create Account-->
		</nav>
		<!--Explaing how the app works and bowling in general-->
		<p>This is the How-To page. A quick description of how to use the app and how bowling works.</br></br>
		Bowling is simple. You have two tries per frame to get all the pins at the end of the lane. The more pins you 
		get the higher the score  you are going to receive. The only way to get the highest score is to get strikes each frame.</br>
		A strike is using your first roll and getting all 10 pins. After your first throw if you get the rest of the standing pins
		then you get a spare which is also a good way to increase your score.</p>
		
	</body>
</html>
