<!DOCTYPE html>
<html>
	<head>
		<link href="{{url_for('static', filename='kingpin_stats.css')}}"  type="text/css" rel="stylesheet"/>
		<script src="{{url_for('static', filename='kingpin_stats.js')}}" type="text/javascript"></script>
		<link rel = "icon" href = "{{url_for('static', filename='crown.jpg')}}" type = "image/png" sizes = "32x32">
		<title>King Pin Stats</title>
		<meta charset = "utf-8"/>
		
	</head>
	<body>
		<header>
			<h1 id="homepage_title"> King Pin </h1>
		</header>
		<nav id="nav_container">
			<a class="nav_buttons" href="KingPin.html">Home</a><!--button to navigate to home-->
			<a class="nav_buttons" href="kingpin_stats.html"> <strong>Statistics</strong></a><!--Button to navigate to the stats-->
			<a class="nav_buttons" href="kingpin_entry.html"> <strong>Entries</strong></a><!--button that goes to the entry page-->
			<a class="nav_buttons" href="kingpin_login.html"> <strong>Login</strong></a><!--button that goes to login page-->
			<a class="nav_buttons" href="kingpin_newAcct.html"> <strong>Create Account</strong></a><!--button that goes to create a new acc-->
		</nav>
		<main><!--Still need to implement the actual stats part-->
			<p>Here is where the best stats can be shown</p>
			<b>A search in the database can be implemented on this page to look for specific users</b>
			<h1>Probably going to need a little to show on this page</h1>
		</main>
		<div id = "search_background"><!--cssid-->
			<input type = "search" id = "search_box" placeholder="Search for a name"><!--input who you want to search for-->
			<button type = "button" id = "search_btn">Search</button><!--button to search for player-->
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

</html>
