<!DOCTYPE html>
<html>
	<head>
		<link href="kingpin_entry.css"  type="text/css" rel="stylesheet"/>
		<script src="kingpin_entry.js" type="text/javascript"></script>
		<link rel = "icon" href = "crown.jpg" type = "image/png" sizes = "32x32">
		<title>King Pin Login</title>
		<meta charset = "utf-8"/>
		
	</head>
	<body>
		<header>
			<h1 id="homepage_title"> King Pin </h1>
		</header>
		<nav id="nav_container">
			<a class="nav_buttons" href="KingPin.html">Home</a><!--button to navigate to home-->
			<a class="nav_buttons" href="kingpin_stats.html"> <strong>Statistics</strong></a><!--button navigate to stats-->
			<a class="nav_buttons" href="kingpin_entry.html"> <strong>Entries</strong></a><!--button navigates to enteries-->
			<a class="nav_buttons" href="kingpin_login.html"> <strong>Login</strong></a><!--button that navigates to login-->
			<a class="nav_buttons" href="kingpin_newAcct.html"> <strong>Create Account</strong></a><!--button navigates to create account page-->
		</nav>
		<main>
			<img src = "kingpinCreateNewAccountImage.bmp"/>
			<form action="insertNewAccount.php" method="post">

  			<div class="container">
    			<label for="uname"><b>Username</b></label>
    			<input type="text" placeholder="Enter Username" name="uname" required><!--place to enter username-->
   			</div>

   			<div class="container">
    			<label for="psw"><b>Password </b></label>
    			<input type="text" placeholder="Enter Password" name="psw" required><!--creates place to enter password-->
   			</div>

   			<div class="container">
    			<label for="psw"><b>Password </b></label>
    			<input type="text" placeholder="Enter Password" name="psw" required><!--place to check password confirmation-->
   			</div>

   			<div>
    			<button type="submit">Create New Account</button><!--Submit button to create new account-->
   			</div>

			</form>
		</main>
				
	</body>
</html>
